global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "backend"
    metrics_path: /metrics
    static_configs:
      - targets: ["backend:8080"]

  - job_name: "worker"
    metrics_path: /metrics
    static_configs:
      - targets: ["worker:9091"]
